{{!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
  <span class="sr-only">Toggle navigation</span> Menu <i class="glyphicon glyphicon-menu-hamburger"></i>
</button> --}}
{{hamburger-menu}}

{{#if isAuthenticated}}
  {{#link-to "themes" class="navbar-brand"}}Bootstrap Buttons{{/link-to}}
{{else}}
  {{#link-to "application" class="navbar-brand"}}Bootstrap Buttons{{/link-to}}
{{/if}}
