<label for="sign-up-password" class="sr-only">Password</label>
<div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  {{input type="password"
         class="form-control"
         id="password"
         placeholder="Password"
         value=password
         insert-newline="submit"}}
</div>
<p class="help-block">Please enter a password.</p>
