<label for="sign-up-password-confirm" class="sr-only">Confirm</label>
<div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
  {{input type="password"
         class="form-control"
         id="password-confirmation"
         placeholder="Confirm Password"
         value=password}}
</div>
<p class="help-block">Please enter matching passwords.</p>
