<div class="bt col-md-9">

  <iframe src="{{staticPath}}assets/buttons.html"  class="layout-frame" id="layout-frame">
    <p>Your browser does not support iframes.</p>
  </iframe>

</div>

{{!-- src="https://s3.amazonaws.com/pliddy-ga/bootstrap-button/buttons.html" --}}

{{!-- "For example, if you place logo.png in public/assets/images, you can
reference it in templates with assets/images/logo.png or in
stylesheets with url('/assets/images/logo.png')" --}}
