{{#bs-accordion as |cat|}}

  {{#each-in (group-by vars "category") as |category vars|}}
    {{#cat.item value=category title=category}}
      {{#bs-accordion as |subcat|}}

        {{#each-in (group-by vars "subcategory") as |subcategory catvars|}}
          {{#subcat.item value=subcategory title=subcategory}}

            {{#each catvars as |var|}}
              <div class="form-group">
                <label for="var.variable">{{var.variable}}</label>
                {{input type="text"
                       class="form-control"
                       id=var.variable
                       placeholder=var.type
                       value=var.value
                     }}
              </div>
            {{/each}}

          {{/subcat.item}}
        {{/each-in}}

      {{/bs-accordion}}
    {{/cat.item}}
  {{/each-in}}

{{/bs-accordion}}
