<label for="new-theme" class="sr-only">Theme Name</label>
<div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  {{input type="text"
         class="form-control"
         id="name"
         placeholder="New Theme Name"
         value=name}}
</div>
<p class="help-block">Please enter a theme title.</p>
