body,
html {
  height: 100%;
  min-height: 100%;
}

.wrapper {
  background: yellow;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  padding: 54px 0 0;
}

.theme-grid {
  background: blue;
  height: calc(100vh - 54px);
  min-height: 100%;
  padding: 0;
}

.theme-layout {
  margin: 0;
  overflow: auto;
  padding: 0;
}

.var-layout {
  background: $gray-lighter;
  border-left: 1px solid $gray-light;
  height: calc(100vh - 54px);
  margin: 0;
  overflow: auto;
  padding: 0;
}

.layout-frame {
  border: 0;
  height: calc(100vh - 54px);
  width: 100%;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.config-vars {
  margin-bottom: 0;

  .form-group:last-child {
    margin-bottom: 10px;
  }

  .panel-group {
    margin: 0;
  }

  .var-group-outer {
    margin-top: 0;

    .panel-body {
      padding: 0;
    }

    .panel-heading {
      background: $panel-heading-outer;
      color: $white;
    }
  }

  .var-group-inner {
    margin-top: 0;

    .panel-body {
      padding: 10px;
    }

    .panel-heading {
      background: $panel-heading-inner;
      color: $brand-primary;
    }
  }
}

.form-auth,
.new-theme-form {
  margin-top: 30px;
}

.export {
  // overflow-y: auto;
  bottom: 54px;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 30px;
}

.export-code {
  // max-height: 80%;
  // position:fixed;
  // margin-bottom: 30px;
  // overflow-y: auto;
  margin-bottom: 30px;
}

.hide-new-theme .new-theme-form {
  display: none;
}
//
// NAVBAR STYLES
//

.navbar-custom {
  background: $navbar-custom-bg;
  border-color: transparent;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  // padding-bottom: 1px;
  // padding-top: 1px;

  .navbar-header {
    box-sizing: border-box;
    height: 54px;
  }

  .navbar-brand {
    color: $brand-highlight;
    // font-size: 1.5em;
    text-shadow: none;

    &:focus {
      color: $brand-highlight;
    }

    &.active,
    &:active {
      color: $brand-highlight;
    }

    &:hover {
      color: $white;
    }
  }

  .navbar-collapse {
    border-color: $navbar-border;
    // border-color: transparent;

  }

  .navbar-toggle {
    background-color: $navbar-custom-bg;
    border: 1px solid $white;
    color: $white;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
      background-color: $brand-highlight;
      border-color: $brand-highlight;
      color: $brand-theme;
    }
  }

  .nav li a {
    color: $white;
    font-family: $font-family-base;
    font-weight: 400;
    letter-spacing: 1px;
    // text-transform: uppercase;
  }

  .nav li a:hover {
    background-color: $brand-highlight;
    color: $brand-theme;
    outline: none;
  }

  .nav li a:focus {
    background-color: $brand-highlight;
    color: $brand-theme;
    outline: none;
  }

  .navbar-nav > li > a {
    text-shadow: none;
  }

  .navbar-nav > .active > a {
    background-color: $navbar-custom-bg;
    border-radius: 0;
    color: $brand-highlight;
    font-weight: 500;
  }

  .navbar-nav > .active > a:focus,
  .navbar-nav > .active > a:hover {
    // background-color: $brand-theme;
    color: $brand-highlight;
  }
}

@media (min-width: 768px) {
  .navbar-custom {
    // background-color: transparent;
    border: 0;
    // padding-top: 2px;
    // padding-bottom: 2px;
    // padding: 25px 0;
    -moz-transition: padding .2s;
    -webkit-transition: padding .2s;
    transition: padding .2s;

    .navbar-header {
      height: 55px;
    }

    .navbar-brand {
      // font-size: 1.5em;
      -moz-transition: all .2s;
      -webkit-transition: all .2s;
      transition: all .2s;
    }

    .navbar-nav > .active > a {
      border-radius: 0;
    }

    .navbar-nav > .active > a.affix {
      background-color: $navbar-custom-bg;
      padding: 10px 0;
    }

    .navbar-nav > .active > a.affix .navbar-brand {
      font-size: 1.25em;
    }

    .nav li a {
      color: $white;
      // font-weight: 400;
      // letter-spacing: 1px;
    }

    .nav li a:hover {
      background-color: $navbar-custom-bg;
      color: $brand-highlight;
      outline: none;
    }

    .nav li a:focus {
      background-color: $navbar-custom-bg;
      color: $white;
      outline: none;
    }

    .navbar-right {
      padding-right: 15px;
    }
  }
}

.button-toolbar {
  text-align: center;

  button:not(:last-child),
  a:not(:last-child) {
    margin-right: 5px;
  }
}
