body,
html {
  height: 100%;
  min-height: 100%;
}

.wrapper {
  // background: yellow;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: $navbar-custom-height 0 0;
}

.theme-grid {
  // background: blue;
  height: calc(100vh - $navbar-custom-height);
  margin: 0;
  padding: 0;
}

.theme-layout {
  height: calc(100vh - 210px);
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding: 0;
  box-sizing: border;
}

.layout-frame {
  border-bottom: 1px solid $gray-light;
  border: 0;
  height: calc(100vh - 210px);
  margin: 0 0 -5px;
  width: 100%;
  box-sizing: border;
}

.var-layout {
  background: $gray-lighter;
  border-left: 1px solid $gray-light;
  margin: 0;
  overflow: auto;
  padding: 0;
  box-sizing: border;
}
//
// Theme Layout Desktop Styles
//
@media (min-width: 768px) {
  .layout-frame {
    height: calc(100vh - $navbar-custom-height);
  }

  .theme-layout {
    min-height: 100%;
  }

  .var-layout {
    height: calc(100vh - $navbar-custom-height);
  }
}
//
// Config Vars Accordion Styles
//

.panel-group .panel + .panel {
  margin-top: 0;
}

.config-vars {
  margin-bottom: 0;

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 0;
  }

  .panel-group {
    margin: 0;
  }

  .panel {
    border: 0;
  }

  .panel-body {
    border: 0;
  }

  .panel-heading {
    border-bottom: 1px solid $white;
    cursor: pointer;
  }

  .var-group-outer {
    margin-top: 0;

    .panel-body {
      padding: 0;
    }

    .panel-heading {
      background: $panel-heading-outer;
    }

    .panel-title {
      color: $white;
    }
  }

  .var-group-inner {
    margin-top: 0;

    .panel-body {
      padding: 10px;
    }

    .panel-heading {
      background: $panel-heading-inner;
    }

    .panel-title {
      color: lighten($brand-theme, 15%);
    }
  }

  .form-group:last-child {
    margin-bottom: 10px;
  }
}

.form-auth,
.new-theme-form {
  margin-top: 30px;
}

.export {
  bottom: $navbar-custom-height;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 30px;
}

.export-code {
  font-family: $font-family-monospace;
  margin-bottom: 30px;
}

.hide-new-theme .new-theme-form {
  display: none;
}
//
// Navbar Styles
//

.navbar-custom {
  background: $navbar-custom-bg;
  border-color: transparent;
  box-sizing: border-box;

  .navbar-header {
    box-sizing: border-box;
    height: $navbar-custom-height;
  }

  .navbar-brand {
    color: $brand-highlight;
    text-shadow: none;

    &:focus {
      color: $brand-highlight;
    }

    &.active,
    &:active {
      color: $brand-highlight;
    }

    &:hover {
      color: $white;
    }
  }

  .navbar-collapse {
    border-color: $navbar-border;
    // border-color: transparent;
  }

  .navbar-toggle {
    background-color: $navbar-custom-bg;
    border: 1px solid $white;
    color: $white;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
      background-color: $brand-highlight;
      border-color: $brand-highlight;
      color: $brand-theme;
    }
  }

  .nav li a {
    color: $white;
    font-family: $font-family-base;
    font-weight: 400;
    letter-spacing: 1px;
    // text-transform: uppercase;
  }

  .nav li a:hover {
    background-color: $brand-highlight;
    color: $brand-theme;
    outline: none;
  }

  .nav li a:focus {
    background-color: $brand-highlight;
    color: $brand-theme;
    outline: none;
  }

  .navbar-nav > li > a {
    text-shadow: none;
  }

  .navbar-nav > .active > a {
    background-color: $navbar-custom-bg;
    border-radius: 0;
    color: $brand-highlight;
    font-weight: 500;
  }

  .navbar-nav > .active > a:focus,
  .navbar-nav > .active > a:hover {
    color: $brand-highlight;
  }
}
@media (min-width: 768px) {
  .navbar-custom {
    border: 0;
    -moz-transition: padding 0.2s;
    -webkit-transition: padding 0.2s;
    transition: padding 0.2s;

    .navbar-header {
      height: 55px;
    }

    .navbar-brand {
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }

    .navbar-nav > .active > a {
      border-radius: 0;
    }

    .navbar-nav > .active > a.affix {
      background-color: $navbar-custom-bg;
      padding: 10px 0;
    }

    .navbar-nav > .active > a.affix .navbar-brand {
      font-size: 1.25em;
    }

    .nav li a {
      color: $white;
    }

    .nav li a:hover {
      background-color: $navbar-custom-bg;
      color: $brand-highlight;
      outline: none;
    }

    .nav li a:focus {
      background-color: $navbar-custom-bg;
      color: $white;
      outline: none;
    }

    .navbar-right {
      padding-right: 15px;
    }
  }
}

.button-toolbar {
  text-align: center;

  a:not(:last-child),
  button:not(:last-child) {
    margin-right: 5px;
  }
}

//
//  Index Screen Styles
//

.jumbotron {
  background: url('images/hero.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 0 !important;
  color: $white;
  height: 100%;
  margin: 0 auto;
  padding-top: 5%;
  position: fixed;
  text-align: center;
  top: $navbar-custom-height;
  width: 100%;

  h2 {
    color: $brand-highlight;
    font-size: 4em;
    font-weight: 300;
  }

  h1 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1.15;
    margin-bottom: .5em;
    margin-top: 0;
    // text-transform: uppercase;
  }

  h3 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 1em;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    h2 {
      font-size: 6em;
    }

    h1 {
      font-size: 4em;
    }

    h3 {
      font-size: 3em;
    }
  }
}

@media (min-width: 1200px) {
  .jumbotron {
    h2 {
      font-size: 6.5em;
    }

    h1 {
      font-size: 4.5em;
      margin-bottom: 0;
    }

    h3 {
      font-size: 3em;
      margin-bottom: .5em;
    }
  }
}
