// color variables
$brand-highlight: #fed136;
$brand-theme: #002743;
$white: #fff;

// font variables
$font-family-sans-serif: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;

// navbar variables
$navbar-border-radius: 0;
$navbar-border: rgba(255, 255, 255, .98);
$navbar-custom-bg: $brand-theme;
$navbar-margin-bottom: 0;
$navbar-custom-height: 54px;

// panel (accordion) variables
$panel-border-radius: 0;
$panel-heading-inner: #8fafbf;
$panel-heading-outer: #3f6a7f;
$config-var-responsive-height: 210px;

// button variables
$border-radius-base: 1px;
$border-radius-large: 2px;
$border-radius-small: 0;

$btn-primary-bg: $brand-highlight;
$btn-primary-border: $brand-theme;
$btn-primary-color: $brand-theme;

$btn-default-border: $brand-theme;
$btn-default-color: $brand-theme;
