$brand-theme: #002743;
$navbar-border-radius: 0;
$navbar-margin-bottom: 0;
$navbar-custom-bg: $brand-theme;
$panel-border-radius: 0;
$panel-heading-outer: #3f6a7f;
$panel-heading-inner: #8fafbf;
$white: #fff;
$brand-highlight: #fed136;
$navbar-border: rgba(255, 255, 255, .98);
$font-family-sans-serif: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
