.bt {
  @import 'bt-vars';
  @import '../less/theme';
  @import '../less/bootstrap';

  background-color: $white;
  color: $gray-dark;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;

  @import 'bt-styles';
}
