<div class="jumbotron">
  <h2>#</h2>
  <h1>Bootstrap Buttons</h1>
  <h3>A Custom Bootstrap Theme Builder</h3>
  <div class="button-toolbar">
    <button class="btn btn-default" {{action "navLink" "sign-up"}}>Sign Up</button>
    <button class="btn btn-primary" {{action "navLink" "sign-in"}}>Sign in</button>
  </div>
</div>
