<div class="container">
  <h2>Your Themes</h2>
  {{!-- <div class="col-sm-8 col-sm-offset-2"> --}}
    <div class="list-group theme-list ">
      {{#each model as |theme|}}
        <div class="list-group-item clearfix">
          <span class="theme-name">{{#link-to 'theme' theme}}{{theme.name}}{{/link-to}}</span>
          <span class="pull-right">
            <button class="btn btn-xs btn-default" {{action "deleteTheme" theme}}><i class="glyphicon glyphicon-trash"></i></button>
          </span>
        </div>
      {{else}}
        <div class="list-group-item clearfix">
          <span class="theme-name">Welcome to Bootstrap Buttons. Click "New Theme" to create your first custom theme.</span>
        </div>
      {{/each}}
    </div>


    {{new-theme createNewTheme='createNewTheme' name='name'}}
  {{!-- </div> --}}
</div>
