<h2>Themes</h2>

<ul>
  {{#each model as |theme|}}
    <li>
      {{#link-to 'theme' theme}} {{theme.name}}{{/link-to}}
    </li>
  {{/each}}
</ul>

{{new-theme createNewTheme='createNewTheme' name='name'}}
