{{!-- <div class="row theme-grid"> --}}
<div class="container-fluid theme-layout">
  <div class="bt col-md-10">
    {{theme-layout-frame theme=model}}
  </div>

  <aside class="col-md-2">
    {{var-layout theme=model vars=model.vars updateVars="updateVars"}}
  </aside>
</div>
{{!-- </div> --}}
