<h2>Themes</h2>

<ul class="list-group">
  {{#each model as |theme|}}
    <li class="list-group-item clearfix">
      {{#link-to 'theme' theme}}{{theme.name}}{{/link-to}}
      <span class="pull-right">
        <button class="btn btn-xs btn-default" {{action "deleteTheme" theme}}><i class="glyphicon glyphicon-trash"></i></button>
      </span>
    </li>
  {{/each}}
</ul>


{{new-theme createNewTheme='createNewTheme' name='name'}}
