<h2>Themes</h2>

<ul>
  {{#each model as |theme|}}
    <li>
      {{#link-to 'theme' theme}}{{theme.name}}{{/link-to}}
      <button class="btn btn-xs btn-default" {{action "deleteTheme" theme}}><i class="glyphicon glyphicon-trash"></i></button>
    </li>
  {{/each}}
</ul>

{{new-theme createNewTheme='createNewTheme' name='name'}}
